<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>McVkusno SIM</title>
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="left">
                <h1>Menu</h1>

                <div class="product">
                    <img src="images/cheeseburger.png" alt="Cheeseburger">
                    <h3>Cheeseburger</h3>
                    <div class="controls">
                        <button type="button" onclick="adjustQuantity('quantityBurger', -1)">-</button>
                        <span id="displayQuantityBurger">0</span>
                        <button type="button" onclick="adjustQuantity('quantityBurger', 1)">+</button>
                    </div>
                </div>

                <div class="product">
                    <img src="images/french_fries.jpg" alt="French Fries">
                    <h3>French Fries</h3>
                    <div class="controls">
                        <button type="button" onclick="adjustQuantity('quantityFries', -1)">-</button>
                        <span id="displayQuantityFries">0</span>
                        <button type="button" onclick="adjustQuantity('quantityFries', 1)">+</button>
                    </div>
                </div>

                <div class="product">
                    <img src="images/cola.jpg" alt="Cola">
                    <h3>Cola</h3>
                    <div class="controls">
                        <button type="button" onclick="adjustQuantity('quantityCola', -1)">-</button>
                        <span id="displayQuantityCola">0</span>
                        <button type="button" onclick="adjustQuantity('quantityCola', 1)">+</button>
                    </div>
                </div>

                <button id="orderButton" onclick="makeOrder()">Make an order!</button>
            </div>

            <div class="border"></div>

            <div class="right">
                <div class="top" 
                    hx-get="/cookingOrders"
                    hx-trigger="every 1s"
                    hx-swap="innerHTML"
                    hx-target="#cooking">
                    <h1>COOKING</h1>
                    <div id="cooking"></div>
                </div>
                <div class="border-horizontal"></div>
                <div class="bottom"
                    hx-get="/readyOrders"
                    hx-trigger="every 1s"
                    hx-swap="innerHTML"
                    hx-target="#cooked">
                    <h1>READY</h1>
                    <div id="cooked"></div>
                </div>
            </div>
        </div>
    </body>
</html>
